/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #004d40e4;
    color: rgba(255, 255, 255, 0.66);
    transition: all 0.3s ease-in-out; /* Transición suave */
    position: relative; /* Para evitar desplazamiento horizontal */
    width: 100%;
    height: 70px;
    box-sizing: border-box; /* Asegura que padding y border no causen desplazamiento */
}

.header.fixed {
    position: fixed; /* Se fija en su lugar al hacer scroll */
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

/* Logo */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinea verticalmente el texto con la imagen */
    margin-bottom: 10px;
}

.logo img {
    margin-right: 10px; /* Ajusta el espacio entre la imagen y el texto */
    width: 60px; /* Ajusta el tamaño de la imagen si es necesario */
    height: auto;
}

.logo h1 {
    margin: 0; /* Elimina cualquier margen que tenga el h1 por defecto */
    font-size: 28px; /* Ajusta el tamaño de la fuente */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgba(19, 176, 19, 0.843);
}

/* Entidades */
.header .entidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.header .entidades img {
    height: 45px;
    margin: 0 5px; /* Ajusta el margen para un espacio uniforme */
}

.header .entidades .sernamp {
    height: 25px;
}




/* Estilos del Carrusel */
.carousel {
    position: relative;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    z-index: 1;
}

.slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Capa de oscurecimiento */
    z-index: 2; /* Asegura que la capa esté sobre la imagen pero debajo del texto */
}

.slide h2 {
    position: absolute; /* Posiciona el h2 de manera absoluta dentro del slide */
    top: 50%; /* Posiciona el texto a la mitad vertical del slide */
    left: 50%; /* Posiciona el texto a la mitad horizontal del slide */
    transform: translate(-50%, -50%); /* Centra el texto en ambas direcciones */
    margin: 0; /* Elimina márgenes por defecto */
    font-size: 2rem; /* Tamaño de la fuente */
    font-weight: 800; /* Peso de la fuente */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejor legibilidad */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 0 20px; /* Espacio horizontal dentro del texto */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho total */
    z-index: 3; /* Asegura que el texto esté sobre la capa de oscurecimiento */
    color: #f2ab27cb;
}


.news-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: 20px; /* Ajusta la posición vertical del botón */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.103); /* Color de fondo del botón */
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.679);
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 20;
    
}

.news-button:hover {
    background-color: #1263bb; /* Color de fondo en hover */
}


/* Dots del carrusel */
.dots {
    text-align: center;
    margin-top: -40px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #555;
}


/* Tarjetas */
.cards-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.cards-section h2{
    color: #004d40e4;
    font-weight: 800;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 250px; /* Ancho de la tarjeta en pantallas grandes */
    height: 300px; /* Altura de la tarjeta */
    position: relative;
    overflow: hidden;
    box-sizing: border-box; /* Asegura que padding y border no causen desplazamiento */
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente para toda la tarjeta */
}

/* Imagen de tarjeta */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionar */
    transition: transform 0.3s ease-in-out; /* Efecto de zoom en la imagen */
}

/* Efecto de zoom en la imagen */
.card:hover img {
    transform: scale(1.1); /* Zoom en la imagen al hacer hover */
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente que cubre toda la imagen */
    transition: opacity 0.3s ease-in-out; /* Transición suave */
    z-index: 1;
    opacity: 0; /* Inicialmente oculto */
}

.card:hover::before {
    opacity: 1; /* Muestra la capa oscura al hacer hover */
}

/* Contenido de tarjeta */
/* Contenido de tarjeta */
.card-content {
    position: absolute; /* Ubicación absoluta para el contenido dentro de la tarjeta */
    bottom: 0; /* Alinea el contenido al fondo de la tarjeta */
    width: 100%; /* Asegura que el contenido ocupe el ancho completo de la tarjeta */
    height: 50%; /* Ocupa el 50% del alto de la tarjeta */
    padding: 15px;
    color: white; /* Texto blanco para contraste */
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente para legibilidad */
    z-index: 2; /* Asegura que el contenido esté sobre la capa oscura */
    box-sizing: border-box; /* Asegura que padding y border no causen desplazamiento */
    text-align: center; /* Centra el texto dentro del contenido de la tarjeta */
    overflow: hidden; /* Evita que el contenido se desborde */
}

/* Título dentro del contenido de la tarjeta */
.card-content h3 {
    font-size: 1.5rem;
    margin: 0; /* Elimina márgenes */
    padding: 10px 0; /* Ajusta el padding para centrado vertical */
    overflow: visible; /* Permite que el texto se muestre completo */
    text-overflow: clip; /* Evita puntos suspensivos, pero puedes usar 'clip' o 'ellipsis' dependiendo de tus necesidades */
    white-space: normal; /* Permite que el texto se ajuste en varias líneas */
}

/* Texto dentro del contenido de la tarjeta */
.card-content p {
    font-size: 11px;
    color: #ddd; /* Color del texto dentro del contenido de la tarjeta */
    margin: 0; /* Elimina márgenes */
    overflow: visible; /* Permite que el texto se muestre completo */
    text-overflow: clip; /* Evita puntos suspensivos, pero puedes usar 'clip' o 'ellipsis' dependiendo de tus necesidades */
    white-space: normal; /* Permite que el texto se ajuste en varias líneas */
}


/* Mapa */
.map-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #f1f1f1;
}

#map {
    width: 100%;
    height: 400px;
    background-color: #ddd;
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999; /* Asegura que el modal esté por encima de todos los elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Contenido del modal */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: relative; /* Posición relativa para manejar el botón de cierre */
    z-index: 10000; /* Asegura que el contenido del modal esté sobre el overlay del modal */
}

/* Botón de cierre del modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}



/* Botón para regresar al top */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #f2ab27ed; /* Color de fondo del botón */
    color: white; /* Color del icono */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 24px;
    z-index: 10000; /* Asegura que esté por encima de otros elementos */
    transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #f2ab27b1; /* Color del botón al hacer hover */
}

/* Icono de flecha dentro del botón */
.arrow-icon::before {
    content: '▲'; /* Puedes usar un símbolo de flecha o una fuente de iconos como FontAwesome */
    font-size: 24px;
    
}

/*-----------------------FOOTER----------------------*/
/* Estilos del Footer */
.footer {
    background-color: #004d40e4; /* Color de fondo del footer */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espacio interno */
    box-sizing: border-box; /* Asegura que padding no cause desplazamiento */
    position: relative; /* Asegura que el footer esté en su lugar */
    margin-top: 20px; /* Espacio superior para separar del contenido */
    height: auto; /* Ajusta la altura del footer */
}

.footer-content {
    width: 100%; /* Ancho máximo del contenido */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Ajusta el espacio superior dentro del footer */
}

.footer p {
    margin: 0; /* Elimina márgenes por defecto */
    font-size: 14px; /* Ajusta el tamaño del texto */
    line-height: 1.5; /* Altura de línea para legibilidad */
    color: rgba(255, 255, 255, 0.587);
}

.footer-logos {
    display: flex;
    justify-content: center;
    margin: 20px 0; /* Espacio alrededor de los logos */
}

.footer-logos img {
    height: 60px; /* Ajusta el tamaño de los logos */
    margin: 0 10px; /* Espacio entre los logos */
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Espacio superior para los íconos sociales */
    margin-bottom: 40px;
}

.social-icon {
    margin: 0 10px; /* Espacio entre los íconos */
}

.social-icon .svg {
    height: 24px; /* Tamaño de los íconos */
    transition: opacity 0.3s ease; /* Transición suave para el hover */
    color: rgba(255, 255, 255, 0.789);
}

.social-icon .svg:hover {
    opacity: 0.7; /* Efecto de hover para los íconos */
}


/*----------------BUCLE DEL TERMOMETRO----------------*/



.titulo_clima h2{
    font-size: 30px;
    margin: 10px;
    font-weight: 900px;
    color: #004d40e4;

}
/* Contenedor del SVG */
.thermometer-svg-container {
    display: flex;
    justify-content: center; /* Espacio entre los SVGs */
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 50vh;
    width: 30%;
    background-color: #f0f0f0;
}
.thermometer-svg-container h3{
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    
}


/* Relleno dinámico */
.fill-red {
    stroke: red;
    stroke-width: 1.5;
    fill: none;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: fillThermometerRed 2s ease-in-out infinite;
}

.fill-blue {
    stroke: rgb(24, 146, 191);
    stroke-width: 1.5;
    fill: none;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: fillThermometerBlue 2s ease-in-out infinite;
}

/* Parte externa del termómetro */
.outline {
    stroke: #000;
    stroke-width: 0.5;
    fill: none;
}

/* Animaciones de relleno */
@keyframes fillThermometerRed {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fillThermometerBlue {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 0;
    }
}



/* Ocultar logos de entidades en dispositivos móviles cuando el encabezado está fijo */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .header .entidades{
        height: 40px; 
    }
    .header .entidades .sernamp {
        height: 20px;
    }

    .thermometer-svg-container {
        width: 100%;
    }

    .logo img {
        width: 50px; /* Ajusta el tamaño de la imagen para dispositivos móviles */
    }

    .logo h1 {
        font-size: 24px; /* Ajusta el tamaño del texto */
    }
    .slide h2{
        text-align: left;
        font-size: 2.5rem;
    }
    .header .entidades {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px; /* Ajusta el margen para un mejor espaciado */
    }

    .header .entidades img {
        height: 50px;
        margin: 5px; /* Ajusta el margen para un espacio uniforme */
    }

    .header.fixed .entidades {
        display: none; /* Oculta los logos de las entidades cuando el encabezado está fijo */
    }

    .cards-container {
        display: flex;
        flex-direction: column; /* Asegura que las tarjetas se apilen verticalmente */
        align-items: stretch; /* Asegura que las tarjetas se estiren para ocupar el ancho completo */
        padding: 0; /* Elimina el padding para evitar espacios no deseados */
    }

    .card {
        width: 100%; /* Ocupa el ancho completo en dispositivos móviles */
        margin: 10px 0; /* Ajusta el margen para un espaciado uniforme */
        height: auto; /* Altura automática en dispositivos móviles */
        box-sizing: border-box; /* Asegura que padding y border no causen desplazamiento */
    }

    .card img {
        height: auto; /* Asegura que la imagen no se distorsione */
    }
    .card-content p{
        font-size: 13px;
    }


}

